.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 4vh 0;
  background: url("../../assets/img/background_space.jpg");
}
.slogan__wrap {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4, 8vh 0;
}
.slogan__subtitle {
  font-size: 24px;
  letter-spacing: 1px;
}
.slogan__title {
  width: -moz-min-content;
  width: min-content;
  margin: 4vh auto 0;
  font-size: 48px;
  letter-spacing: 1.5px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--main-color);
}
.slogan__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan__img img {
  height: 100%;
}
.slogan__button {
  background: var(--main-color);
  margin-top: 2vh;
}
.slogan__description {
  max-width: 400px;
  line-height: 1.2;
}
.slogan__description_top {
  margin: 4vh auto 0;
  color: var(--main-color);
}
.slogan__link {
  display: block;
  width: 20px;
  height: 20px;
  margin: 3vh auto 0;
  cursor: pointer;
}
.slogan__link button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.slogan__link button img {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}
.slogan__link__label {
  color: white;
  font-family: PTserif;
  font-size: 16px;
  text-align: center;
  margin-top: 1vh;
  letter-spacing: 1px;
}

.quotation {
  width: 100%;
  height: 60vh;
  min-height: 340px;
  background: url("../../assets/img/Rectangle_1.png") center no-repeat;
  background-size: cover;
  position: relative;
}
.quotation__wrap {
  width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Yeseva;
  color: white;
  text-align: center;
}
.quotation__sheet_middle, .quotation__sheet_top {
  width: 100%;
  height: 60vh;
  min-height: 340px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.quotation__sheet_middle img, .quotation__sheet_top img {
  width: 100%;
  min-height: 100%;
}
.quotation__description {
  font-size: 26px;
  line-height: 1.4;
  max-width: 386px;
  margin: 2vh auto 0;
}
.quotation__brackets {
  text-align: right;
  height: 32px;
}
.quotation__brackets img {
  height: 100%;
}
.quotation__brackets_top {
  transform: rotate(180deg);
}

.promises {
  padding: 7vh 2vw;
  background: white;
}
.promises__description {
  line-height: 1.4;
  max-width: 800px;
  margin: 0 auto;
}
.promises__description span {
  font-weight: bold;
}
.promises__img {
  width: 800px;
  margin: 0 auto;
  height: 620px;
  overflow: hidden;
}
.promises__img img {
  width: 100%;
}
.promises__button {
  background-color: var(--main-color);
}

.final {
  position: relative;
  padding: 7vh 2vw 3vh;
  background: url("../../assets/img/background_space.jpg");
  overflow: hidden;
}
.final__description {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.3;
  z-index: 2;
}
.final__description span {
  font-weight: bold;
}
.final__description_top {
  color: white;
}
.final__description_top span {
  color: var(--main-color);
}
.final__description_top .span_bold {
  color: white;
}
.final__description_bottom {
  background-color: rgba(243, 243, 242, 0.8);
  padding: 3vh 1.5vw;
  margin-top: 3vh;
  border-radius: 20px;
}
.final__button {
  position: relative;
  background: bottom;
  border: 1px solid white;
  color: white;
  margin-top: 5vh;
  z-index: 2;
}
.final__copy {
  margin-top: 7vh;
  text-align: center;
  font-family: Roboto-light;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.final__copy span {
  display: inline-block;
  width: 15px;
  height: 1px;
}
.final__lightning {
  position: absolute;
}
.final__lightning_top {
  top: 0vh;
  right: -120px;
  transform: rotate(33deg);
}
.final__lightning_bottom {
  top: 15vh;
  left: -100px;
  transform: rotate(-33deg);
}

@media (max-width: 991px) {
  .slogan__subtitle {
    font-size: 20px;
  }
  .slogan__title {
    font-size: 40px;
  }
  .slogan__description {
    font-size: 20px;
  }
  .promises__description {
    max-width: 700px;
    font-size: 22px;
  }
  .promises__img {
    width: 700px;
    height: 570px;
  }
  .final__description {
    max-width: 700px;
  }
}
@media (max-width: 767px) {
  .slogan__title {
    font-size: 36px;
  }
  .promises__description {
    max-width: 540px;
    font-size: 20px;
  }
  .promises__img {
    width: 540px;
    height: 420px;
  }
  .final__description {
    max-width: 540px;
    font-size: 20px;
  }
  .final__copy {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .slogan {
    min-height: calc(100vh - 46px);
  }
  .slogan__wrap {
    padding: 1vh 0;
  }
  .slogan__subtitle {
    font-size: 15px;
  }
  .slogan__description {
    font-size: 15px;
  }
  .slogan__title {
    margin: 2vh auto 0;
    font-size: 30px;
  }
  .slogan__button {
    background: var(--main-color);
    margin-top: 1vh;
  }
  .slogan__description {
    max-width: 286px;
  }
  .slogan__description_top {
    margin: 2vh auto 0;
    color: var(--main-color);
  }
  .slogan__link {
    width: 16px;
    height: 16px;
    margin: 1.5vh auto 0;
  }
  .slogan__link__label {
    font-size: 10px;
  }
  .slogan__img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
  .quotation__wrap {
    width: 300px;
  }
  .quotation__description {
    font-size: 18px;
    line-height: 1.2;
    max-width: 248px;
    margin: 2vh auto 0;
  }
  .quotation__brackets {
    height: 24px;
  }
  .promises__description {
    max-width: 290px;
    font-size: 16px;
  }
  .promises__img {
    width: 232px;
    height: 200px;
  }
  .final {
    padding: 7vh 3vw 3vh;
  }
  .final__description {
    max-width: 300px;
    line-height: 1.2;
  }
  .final__description_bottom {
    background-color: rgba(243, 243, 242, 0.8);
    padding: 4vh 2vw;
  }
  .final__copy {
    margin-top: 8vh;
    font-size: 12px;
  }
  .final__copy span {
    width: 8px;
  }
  .final__lightning {
    width: 165px;
    height: 165px;
  }
  .final__lightning img {
    width: 100%;
    height: 100%;
  }
  .final__lightning_top {
    top: 16vh;
    right: -44px;
  }
  .final__lightning_bottom {
    top: 56vh;
    left: -42px;
    transform: rotate(-33deg);
  }
}/*# sourceMappingURL=main.css.map */