.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 4vh 0;
    background: url('../../assets/img/background_space.jpg');
    &__wrap {
        width: fit-content;
        height: fit-content;
        padding: 4,8vh 0;
    }
    &__subtitle {
        font-size: 24px;
        letter-spacing: 1px;
    }
    &__title {
        width: min-content;
        margin: 4vh auto 0;
        font-size: 48px;
        letter-spacing: 1.5px;
        line-height: 1.1;
        text-transform: uppercase;
        color: var(--main-color);
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 100%;
        }
    }
    &__button {
        background: var(--main-color);
        margin-top: 2vh;
    }
    &__description {
        max-width: 400px;
        line-height: 1.2;
    } 
    &__description_top {
        margin: 4vh auto 0;
        color: var(--main-color);
    }
    &__link {
        display: block;
        width: 20px;
        height: 20px;
        margin: 3vh auto 0;
        cursor: pointer;
        a {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                transform: rotate(180deg);
            }
        }
    }
    &__link__label {
        color: white;
        font-family: PTserif;
        font-size: 16px;
        text-align: center;
        margin-top: 1vh;
        letter-spacing: 1px;
    }
}

.quotation {
    width: 100%;
    height: 60vh;
    min-height: 340px;
    background:  url("../../assets/img/Rectangle_1.png") center no-repeat;
    background-size: cover;
    position: relative;
    &__wrap {
        width: 420px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Yeseva;
        color: white;
        text-align: center;
    }
    &__sheet_middle, &__sheet_top {
        width: 100%;
        height: 60vh;
        min-height: 340px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
            width: 100%;
            min-height: 100%;
        }
    }
    &__description {
        font-size: 26px;
        line-height: 1.4;
        max-width: 386px;
        margin: 2vh auto 0;
    }
    &__brackets {
        text-align: right;
        height: 32px;
        img {
            height: 100%;
        }
    }
    &__brackets_top {
        transform: rotate(180deg);
    }
}

.promises {
    padding: 7vh 2vw;
    background: white;
    &__description {
        line-height: 1.4;
        max-width: 800px;
        margin: 0 auto;
        span {
            font-weight: bold;
        }
    }
    &__img {
        width: 800px;
        margin: 0 auto;
        height: 620px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__button {
        background-color: var(--main-color);
    }
}

.final {
    position: relative;
    padding: 7vh 2vw 3vh;
    background: url("../../assets/img/background_space.jpg");
    overflow: hidden;
    &__description {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.3;
        z-index: 2;
        span {
            font-weight: bold;
        }
    }
    &__description_top {
        color: white;
        span {
            color: var(--main-color);
        }
        .span_bold {
            color: white;
        }
    }
    &__description_bottom {
        background-color: rgba(243, 243, 242, 0.8);
        padding: 3vh 1.5vw;
        margin-top: 3vh;
        border-radius: 20px;
    }
    &__button {
        position: relative;
        background: bottom;
        border: 1px solid white;
        color: white;
        margin-top: 5vh;
        z-index: 2;
    }
    &__copy {
        margin-top: 7vh;
        text-align: center;
        font-family: Roboto-light;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
        span {
            display: inline-block;
            width: 15px;
            height: 1px;
        }
    }
    &__lightning {
        position: absolute;
    }
    &__lightning_top {
        top: 0vh;
        right: -120px;
        transform: rotate(33deg);
    }
    &__lightning_bottom {
        top: 15vh;
        left: -100px;
        transform: rotate(-33deg);
    }
}

@media (max-width: 1199px) {
  
}

@media (max-width: 991px) {
    .slogan {
        &__subtitle {
            font-size: 20px;
        }
        &__title {
            font-size: 40px;
        }
        &__description {
            font-size: 20px;
        }
    }
    .promises {
        &__description {
            max-width: 700px;
            font-size: 22px;
        }
        &__img {
            width: 700px;
            height: 570px;
        }
    }
    .final__description {
        max-width: 700px;
    }
}

@media (max-width: 767px) {
    .slogan__title {
        font-size: 36px;
    }
    .promises {
        &__description {
            max-width: 540px;
            font-size: 20px;
        }
        &__img {
            width: 540px;
            height: 420px;
        }
    }
    .final {
        &__description {
            max-width: 540px;
            font-size: 20px;
        }
        &__copy {
            font-size: 12px;
        }
    }
}

@media (max-width: 575px) {
    .slogan {
        min-height: calc(100vh - 46px);
        &__wrap {
            padding: 1vh 0;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__description {
            font-size: 15px;
        }
        &__title {
            margin: 2vh auto 0;
            font-size: 30px;
        }
        &__button {
            background: var(--main-color);
            margin-top: 1vh;
        }
        &__description {
            max-width: 286px;
        } 
        &__description_top {
            margin: 2vh auto 0;
            color: var(--main-color);
        }
        &__link {
            width: 16px;
            height: 16px;
            margin: 1.5vh auto 0;
        }
        &__link__label {
            font-size: 10px;
        }
        &__img {
            height: 150px;
            width: 150px;
            margin: 0 auto;
        }
    }
    
    .quotation {
        &__wrap {
            width: 300px;
        }
        &__description {
            font-size: 18px;
            line-height: 1.2;
            max-width: 248px;
            margin: 2vh auto 0;
        }
        &__brackets {
            height: 24px;
        }
    }

    .promises {
        &__description {
            max-width: 290px;
            font-size: 16px;
        }
        &__img {
            width: 232px;
            height: 200px;
        }
    }

    .final {
        padding: 7vh 3vw 3vh;
        &__description {
            max-width: 300px;
            line-height: 1.2;
        }
        &__description_bottom {
            background-color: rgba(243, 243, 242, 0.8);
            padding: 4vh 2vw;
        }
        &__copy {
            margin-top: 8vh;
            font-size: 12px;
            span {
                width: 8px;
            }
        }
        &__lightning {
            width: 165px;
            height: 165px;
            img {
                width: 100%;
                height: 100%;
            }
            &_top {
                top: 16vh;
                right: -44px;
            }
            &_bottom {
                top: 56vh;
                left: -42px;
                transform: rotate(-33deg);
            }
        }
    }
}