body {
    position: relative;
    background-color: rgb(24, 24, 24);
}

h1, h2, h3, h4, h5 {
    color: white;
}

.subtitle {
    font-family: PTserif;
}

.title {
    font-family: Yeseva;
}

.description {
    font-family: PTserif;
    font-size: 24px;
    letter-spacing: 1px;

}

.button {
    display: block;
    width: 280px;
    height: 52px;
    border-radius: 26px;
    margin: 0 auto;
    font-family: PTserif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 52px;
    font-size: 24px;
    color: black;
    box-shadow: 0px 4px 10px grey inset;
}

@media (max-width: 1199px) {
  
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  
}

@media (max-width: 575px) {
    .button {
        width: 190px;
        height: 40px;
        border-radius: 20px;
        letter-spacing: 1.2px;
        line-height: 40px;
        font-size: 16px;
    }
}